@charset "UTF-8";

body {
    background-color: #634F47;
    text-align: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.box_align {
    width: 500px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}