@{
    ViewData["Title"] = "Home Page";
}

<form method = 'post' action='/Schedule/Post'>
    <input type="text" name="title" class="form-control" placeholder="제목"/>
    <input type="text" name="contents" class="form-control" placeholder="내용"/>
    <button type="submit">insert</button>
</form>