@section Style{
    <link href="~/css/wiki.css" rel="stylesheet" type="text/css">
}
<body class = "body">
    <div class="dgsw_dictionary">
        <h1 class = "h1">DGSW 사전</h1>
        <hr>
        <img src="~/img/wiki/dgswlogo.png" class="dgsw" width="300px" height="100px">
        <p class = "p">대구소프트웨어마이스터고등학교</p>
        <p class = "p">교장 선생님 성함 : 박유현</p>
        <p class = "p">교감 선생님 성함 : 노홍인</p>
        <hr>
        <h3 class = "h3">대소고 하루 일과표</h3>
        <img src="~/img/wiki/schedule.png" width="500px" height="800px">
        <p class = "p">★ 학교 규칙</p>
        <p class = "p">= 대소고는 일정표의 시간과 다른 시간에 해당하는 일과를 하는 경우가 많습니다. 점호시간이 30분이 아닌 40분에 할 수도 있고 45분에 할 수도 있습니다.</p>
        <p class = "p">★ 학교 다니면서 알아야 할 것</p>
        <p class = "p">= 아침 운동은 학년 마다 다른 곳에서 진행됩나다. 강당에서 아침 운동을 할 경우에는 신발을 갈아신고 가야 합니다. 1학년은 아침 운동으로 택견이라는 운동을 합니다. 화이팅.학교는 코로나로 인해 2주마다 한 번 집을 갑니다. 근데 어쩌다보면 2주에 한번 집가는게 아니라 집갔다 왔는데 다음주에 또 집을 갈 수도 있습니다. 집 안가는 주에는 일요일에 점심과 저녁을 제공해주지 않습니다. 그래서 일요일에는 정해진 시간 안에 점심과 저녁을 먹고 와야 합니다. 대소고는 10시20분에 전원 폰을 내야 합니다.</p>
        <hr>
        <h3 class = "h3">★ 대소고가 아직 낮선 1학년 들에게 추천하는 끼니를 때울 곳 ★</h3>
        <a class = "h2" href = "https://map.naver.com/v5/search/%EA%B5%AC%EC%A7%80%20%EB%A7%98%EC%8A%A4%ED%84%B0%EC%B9%98/place/1604858496?c=14295293.8428368,4253586.7050059,14,0,0,0,dh&placePath=%3Fentry%253Dbmp" target = "_blank">맘스터치</a><br>
        <a class = "h2" href = "https://map.naver.com/v5/entry/place/1183257358?c=14295464.4844842,4253436.8217223,19,0,0,0,dh" target = "_blank">60계 치킨</a><br>
        <a class = "h2" href = "https://map.naver.com/v5/entry/place/1836960754?c=14295530.2854352,4253297.5033524,19,0,0,0,dh" target = "_blank">(구) 공화춘</a><br>

        <a class = "h2" href = "https://www.google.com/search?q=%EA%B5%AC%EC%A7%80+%ED%99%8D%EC%9C%A0&tbm=lcl&ei=__nLYZjAJteTr7wPrr2aoAE&oq=%EA%B5%AC%EC%A7%80+%ED%99%8D%EC%9C%A0&gs_l=psy-ab.3..0i30k1.155297.156514.0.156754.10.9.0.0.0.0.221.1057.0j3j3.6.0....0...1c.1j4.64.psy-ab..5.5.910...0i512i433k1j0i512i433i131k1j0i512k1.0.YZB_JP53UlM" target= "_blank">홍유</a><br>
        <a class = "h2" href = "https://map.naver.com/v5/entry/place/1566412828?c=14295496.8339282,4253387.4182307,19,0,0,0,dh" target = "_blank">더리터</a><br>
        <a class = "h2" href = "https://map.naver.com/v5/entry/place/1635338532?c=14295496.8339282,4253387.4182307,19,0,0,0,dh" target = "_blank">봄봄</a><br>
        <a class = "h2" href = "https://map.naver.com/v5/entry/place/1657446616?c=14295534.5489717,4253738.3303399,19,0,0,0,dh" target = "_blank">고봉민</a><br>
        <a class = "h2" href = "https://map.naver.com/v5/entry/place/1657446616?c=14295534.5489717,4253738.3303399,19,0,0,0,dh" target = "_blank">팔공티</a><br>
        <a class = "h2" href = "https://map.naver.com/v5/entry/place/1361252312?c=14295400.5203048,4253384.7466672,19,0,0,0,dh" target = "_blank">베스킨라빈스</a><br>
        <a class = "h2" href = "https://map.naver.com/v5/entry/place/1089352153?c=14300021.5148191,4258443.4181905,19,0,0,0,dh" target = "_blank">마라신</a><br>
        <a class = "h2" href = "https://map.naver.com/v5/entry/place/1294095536?c=14295528.3039483,4253395.2411204,19,0,0,0,dh" target = "_blank">신참 떡볶이</a><br>
        <a class = "h2" href = "https://map.naver.com/v5/search/cu%ED%8E%B8%EC%9D%98%EC%A0%90?c=14294482.7467630,4254223.1427097,19,0,0,0,dh" target = "_blank">대소고에서 조금만 걸으면 나오는 편의점</a>
        <p class = "p">★ 주의 사항</p>
        <p class = "p">= 여기 적힌 대부분이 생각보다 멉니다.</p>
    </div>
</body>