@{
    ViewData["Title"] = "Info";
}

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
   <link href="~/css/sign/fix.css" rel="stylesheet" type="text/css">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
<title>modify</title>
</head>

<body class="modify_body">
   <div class="modify_box_align">
      <form class="box">
      <img src="woman.png" width="190" height="190">
      
         <br>
         <br>
         <br>
         
         <div class="field">
             <div class="control">
                  <input class="input" type="text" placeholder="닉네임 수정">
             </div>
           </div>
      
           <button class="button is-fullwidth" style="background-color:#83B9BF">변경</button>
      
         <br>
         <br>
         
           <div class="field">
             <div class="control">
                  <input class="input" type="email" placeholder="이메일 주소 변경">
             </div>
           </div>
         
           <button class="button is-fullwidth" style="background-color:#83B9BF">변경</button>
           
           <br>
           <br>
           
           <label class="checkbox">
              <input type="checkbox">
                 멘토 신청 희망
         </label>
         
      </form>
   </div>
   
</body>

</html>