@{
    ViewData["Title"] = "Sign up";
}
<h1>@ViewData["Title"]</h1>

    <form method = 'post' action='/Sign/Signup/Post'>
        email:<input type="text" name="email" class="form-control" placeholder="아이디를 입력하세요"/>
        pw:<input type="password" name="pw" class="form-control" placeholder="비밀번호를 입력하세요"/>
        pw:<input type="password" name="repw" class="form-control" placeholder="비밀번호를 다시 입력하세요"/>
        name:<input type="text" name="name" class="form-control" placeholder="이름을 입력하세요"/>
        <button type="submit">signin</button>
    </form>