@{
    ViewData["Title"] = "Sign in";
}
<h1>@ViewData["Title"]</h1>

<div>
    <form method = 'post' action='/Sign/Signin/Post'>
        email:<input type="text" name="email" class="form-control" placeholder="아이디를 입력하세요"/>
        pw:<input type="password" name="pw" class="form-control" placeholder="비밀번호를 입력하세요"/>
        <button type="submit">signin</button>
    </form>
</div>
