.chat_wrap {
    background-color: #7e3124;
    border: 1px solid #999;
    width: 300px;
    padding: 5px;
    font-size: 13px;
    color: #ddd;
}

    .chat_wrap .inner {
        background-color: #9e4231;
        border-radius: 5px;
        padding: 10px;
        overflow-y: scroll;
        height: 400px;
    }

    .chat_wrap .item {
        margin-top: 15px
    }

        .chat_wrap .item:first-child {
            margin-top: 0px
        }

        .chat_wrap .item .box {
            display: inline-block;
            max-width: 180px;
            position: relative
        }

            .chat_wrap .item .box::before {
                content: "";
                position: absolute;
                left: -8px;
                top: 9px;
                border-top: 0px solid transparent;
                border-bottom: 8px solid transparent;
                border-right: 8px solid #3f1616;
            }

            .chat_wrap .item .box .msg {
                background: #3f1616;
                border-radius: 10px;
                padding: 8px;
                text-align: left
            }
<!-- 대화 알-- >
.chat_wrap .item .box .time {
    font-size: 11px;
    color: #9e4231;
    position: absolute;
    right: -75px;
    bottom: 5px;
    width: 70px
}

.chat_wrap .item.mymsg {
    text-align: right
}

    .chat_wrap .item.mymsg .box::before {
        left: auto;
        right: -8px;
        border-left: 8px solid #3f1616;
        border-right: 0;
    }

    .chat_wrap .item.mymsg .box .msg {
        background: #3f1616;
    }

    .chat_wrap .item.mymsg .box .time {
        right: auto;
        left: -75px
    }

.chat_wrap .item .box {
    transition: all .3s ease-out;
    margin: 0 0 0 20px;
    opacity: 0
}

.chat_wrap .item.mymsg .box {
    transition: all .3s ease-out;
    margin: 0 20px 0 0;
}

.chat_wrap .item.on .box {
    margin: 0;
    opacity: 1;
}

input.mymsg {
    color: #ddd;
}

input.yourmsg {
    color: #ddd;
}

div.inner {
    color: #ddd;
}

input[type="text"] {
    border: 0;
    width: 100%;
    background: #3f1616;
    border-radius: 5px;
    height: 30px;
    padding-left: 5px;
    box-sizing: border-box;
    margin-top: 5px
}

input[type="text"]::placeholder {
    color: #a3a2a2b9;
}
.frame{
    backdrop-color:FFF3F0;
    margin-left: 300px;
}