
<canvas id="canvas" width="800" height="400">data</canvas>
<div class="options">
    <select id="type">
        <option value="stroke">실선</option>
        <option value="square">사각형</option>
        <option value="eraser">지우개</option>
    </select>
    <select id="strokeStyle">
        <option value="blue">파란색</option>
        <option value="red">빨간색</option>
        <option value="pink">분홍색</option>
        <option value="orange">주황색</option>
    </select>
    <select id="lineWidth">
        <option value="5">5px</option>
        <option value="10">10px</option>
        <option value="15">15px</option>
        <option value="20">20px</option>
    </select>
</div>
<script src="~/js/canvas.js"></script>

