
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    @await RenderSectionAsync("Style", required: false)
    <link rel="stylesheet" href="~/css/site.css">

    <title>@ViewData["Title"] - modoomoyeo</title>
</head>
    <body>
        <div class="l-navbar" id="navbar">
            <nav class="nav">
                <div>
                    <div class="nav__brand">
                        <!-- 아이콘 -->
                        <ion-icon name="menu-outline" class="nav__toggle" id="nav-toggle"></ion-icon>
                        <!-- 넘기는 거 넣어 -->
                        <p style = "display:inline" class="nav__name">@User.Identity.Name</p><img class="profile_img" src="~/img/zerohe.png"></img>
                    </div>
                    <div class="nav__list">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div>                   
                            <!-- 누르면 이동 -->
                            <a class="nav__link" asp-area="" asp-controller="Home" asp-action="Index">
                                <ion-icon name="home-outline" class="nav__icon"></ion-icon>
                                <span class="nav_name">Insert</span>
                            </a>
                        </div>

                        <!-- 누르면 이동 -->
                        <a class="nav__link" asp-area="" asp-controller="Home" asp-action="Schedule">
                            <ion-icon name="pie-chart-outline" class="nav__icon"></ion-icon>
                            <span class="nav_name">Schedule</span>
                        </a>


                        <!-- 누르면 이동 -->
                        <a class="nav__link" asp-area="" asp-controller="Chat" asp-action="Index">
                            <ion-icon name="chatbubbles-outline" class="nav__icon"></ion-icon>
                            <span class="nav_name">Chat</span> 
                        </a>

                        <a class="nav__link" asp-area="" asp-controller="Chat" asp-action="Mentors">
                            <ion-icon  name="school-outline" class="nav__icon"></ion-icon>
                            <span class="nav_name">Mentors</span> 
                        </a>

                        <!-- 누르면 이동 -->
                        <a class="nav__link" asp-area="" asp-controller="Canvas" asp-action="Index">
                            <ion-icon name="pencil-outline" class="nav__icon"></ion-icon>
                            <span class="nav_name">Canvas</span>
                        </a>

                        <!-- 누르면 이동 -->
                        <a class="nav__link" asp-area="" asp-controller="Home" asp-action="Wiki">
                            <ion-icon name="book-outline" class="nav__icon"></ion-icon>
                            <span class="nav_name">Wiki</span>
                        </a>
                        <!-- 누르면 이동 -->
                        <a class="nav__link" asp-area="" asp-controller="Sign" asp-action="Fix">
                            <ion-icon name="settings-outline" class="nav__icon"></ion-icon>
                            <span class="nav_name">My Page</span>
                        </a>
                    }
                    else
                    {
                        <a class="nav__link" asp-area="" asp-controller="Sign" asp-action="Signin">
                            <ion-icon name="pie-chart-outline" class="nav__icon"></ion-icon>
                            <span class="nav_name">Signin</span>
                        </a>


                        <!-- 누르면 이동 -->
                        <a class="nav__link" asp-area="" asp-controller="Sign" asp-action="Signup">
                            <ion-icon name="chatbubbles-outline" class="nav__icon"></ion-icon>
                            <span class="nav_name">Signup</span> 
                        </a>
                    }
                    </div>



                    <a class="nav__link" asp-area="" asp-controller="Sign" asp-action="Signout">
                        <ion-icon name="log-out-outline" class="nav__icon"></ion-icon>
                        <span class="nav_name">Signout</span>
                    </a>
                </div>
            </nav>
        </div>


        <div class="container">
            <main role="main">
                @RenderBody()
            </main>
        </div>

        <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
        <script src="~/js/site.js"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>