@{
    ViewData["Title"] = "List";
}
@using modoomoyeo.Database;
@model List<Userdata>

<ul>
<form method = 'post' action='/Chat/Chatting'>
<li><button type="submit" name="id" value="0">ALL</button></li>
</form>
@foreach (var data in @Model)
{
    <li>
    <form method = 'post' action='/Chat/Chatting'>
        <button type="submit" name="id" value="@data.id">@data.Name</button>
    </form>
    </li>
}
</ul>