<!DOCTYPE html>
<html>
    <head> 
        <meta charset = "UTF-8">
        <link rel ="stylesheet" type = "text/css" href ="../css/main.css">
    </head>
    <body class = "frame">
        <header> 
            <h1> chating </h1>
        </header>
        <iframe src = "../Views/Chat/Chating.cshtml" class = "a" name = "iframe1" width = "25%" height ="500px"></iframe>
        <iframe src = "../Views/Chat/Index.cshtml" class = "a b" name = "iframe2" width = "60%" height ="550px"></iframe>
        <footer>
    </body>
</html>